<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="git.simple.mybatis.dao.Teacher">
    <insert id="insertBatch">
        INSERT INTO
        `teacher` (sn, name, sex, age, ctime)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (${item.sn}, '${item.name}', ${item.sex}, ${item.age}, '${item.ctime}')
        </foreach>
    </insert>

</mapper>